:root {
  --wave-picker-highlight-color: lightgrey;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* .adsr {
  display: flex;
}

.adsr div {
  padding: 0 10px;
}

.adsr div:first {
  padding: 0;
} */

.button-icon-left {
  margin-right: 8px;
}

.button-icon-right {
  margin-left: 8px;
}

.graphic-adsr {
  width: 200px;
  height: 100px;
}

.inline {
  display: inline-block !important;
}

.lfo-controls {
  align-items: center;
  display: flex;
}

.modulation-router {
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.range {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.range input {
  align-self: center;
  width: 60px;
}

.range-field {
  width: 100px;
}

.vco {
  margin: 10px;
  padding: 10px;
}

.vco-container {
  display: flex;
}

.vertical-range {
  margin-top: 100px;
  transform: rotate(-90deg) translateY(40px);
  transform-origin: top left;
}

.wave-picker {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.wave-picker-collapsed {
  border: 1px solid blue;
  padding: 5px;
}

.wave-picker-option:hover {
  background-color: var(--wave-picker-highlight-color);
}

.wave-picker-option-selected {
  background-color: var(--wave-picker-highlight-color);
}
